<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>registry.hub.docker.com/abuprogrammiy</RegistryUrl>
    <UserName>abuprogrammiy</UserName>
    <PublishImageTag>v1</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>5f7fc61a-ecb2-4e0a-80d5-8b77febb2f38</ProjectGuid>
    <_TargetId>NetSdkDockerContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>